{
	accounts: {
		gwaka.t12yb: {
			authFilePath: /home/me/override/default/auth/file/path
		}
	}
	jobs: [
		{
			account: admsommer
			sourceFolder: ~/Downloads/upload
			makeAlbums: {
                enabled: true
                use: folderNames
            }
			deleteAfterUpload: true
		}
	]
}
